# Docker App Configuration
PORT=3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
DATABASE_URL=postgresql://postgres:postgres@db:5432/ipl_db?schema=public

# Docker Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ipl_db
POSTGRES_PORT=5432

# Optional DB Initialization Flags
SKIP_MIGRATIONS=false
SKIP_INGESTION=false
